ul {
    list-style-type: none;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}
span {
    font-weight: lighter;
    font-style: Noto Sans Mono;
    font-size: 200%;
    
}
body {
    text-transform:
}